@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<CardListItemVM>

    <!-- START BANNER -->
    <section class="p-0" id="home-banner">
        <div class="slider-area" id="slider-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <h1 class="main-font font-weight-bold text-white">Premium <span class="d-block text-blue">Auto Accessories </span></h1>
                        <p class="alt-font text-white my-3">Lorem ipsum is simply dummy text of the printing and typesetting. Lorem Ipsum has been the industry’s standard dummy. </p>
                        <a href="#all-products" class="btn btn-medium btn-rounded btn-red text-capitalize mt-3 mb-5 mb-md-0 scroll">Learn More</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="banner-image" data-depth="0.07">
                            <img src="~/cars-automobile/images/banner-product.png" alt="Banner-Product">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Circle-One -->
            <div class="circle-one">
                <span data-tootik="Side Mirror" data-tootik-conf="top invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                </span>
            </div>
            <!-- Circle-Two -->
            <div class="circle-two">
                <span data-tootik="Glass Roof" data-tootik-conf="bottom invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                </span>
            </div>
            <!-- Circle-Three -->
            <div class="circle-three">
                <span data-tootik="Back Light" data-tootik-conf="top invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                </span>
            </div>
            <!-- Circle-Four -->
            <div class="circle-four">
                <span data-tootik="Front Bumper" data-tootik-conf="bottom invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                </span>
            </div>
            <!-- Circle-Five -->
            <div class="circle-five">
                <span data-tootik="Side Skits" data-tootik-conf="top invert square shadow">
                    <a href="javascript:void(0);">
                        <span class="animated-circle position-relative"></span>
                    </a>
                </span>
            </div>
        </div>
    </section>
    <!-- END BANNER -->
    <!-- START ABOUT -->
    <section class="about-bg" id="about">
        <div class="container">
            <div class="row section-heading">
                <div class="col-12 main-heading text-center">
                    <h2 class="main-font">Know About<span class="d-block text-blue">Auto Accessories</span></h2>
                    <p class="alt-font mt-4">Lorem ipsum is simply dummy text of the printing and typesetting.<span class="d-block"> Lorem Ipsum has been the industry’s standard dummy.</span></p>
                </div>
            </div>
            <!--Row-->
            <div class="row row-padding">
                <!--News Item-->
            @foreach (var item in Model)
            {
                <div class="col-12 col-md-4">
                    <div class="news-item">
                        <div class="image-holder-gallery">
                            <img alt="image" src="@item.ImageUrl">
                        </div>
                        <div class="news-text-box">
                            <a href="#"><h4 class="news-title main-font">@item.Title</h4></a>
                            <p class="para alt-font">@item.Description</p>
                            <a href="~/cars-automobile/standalone.html" class="text-capitalize btn-red">Learn More</a>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </section>
    <!-- END ABOUT -->
    <!-- START PRODUCTS -->
    <section class="section slide2 all-products" id="all-products">
        <div class="container position-relative">
            <div class="row main-heading">
                <div class="col-12 main-heading text-center">
                    <h2 class="main-font">Accessories<span class="d-block text-blue">Latest Products</span></h2>
                </div>
            </div>

            <!-- Products -->
            <div class="row row-padding">
                <div class="owl-products owl-carousel owl-theme">
                    <!--Item 1-->
                    <div class="team-box item">
                        <!--Product Image-->
                        <div class="team-image">
                            <img src="~/cars-automobile/images/product-img1.png" alt="image">
                        </div>
                        <!--Product Text-->
                        <div class="team-text">
                            <h5 class="main-font">Imported Car Tire Wheel</h5>
                            <a onclick="morphic_window('morphic-window1');" class="btn btn-medium btn-rounded btn-red text-capitalize mt-3 mb-5 mb-md-0">View Detail</a>
                        </div>
                    </div>
                    <!--Item 2-->
                    <div class="team-box item">
                        <!--Product Image-->
                        <div class="team-image">
                            <img src="~/cars-automobile/images/product-img2.png" alt="image">
                        </div>
                        <!--Product Text-->
                        <div class="team-text">
                            <h5 class="main-font">Tire Alloy Rims</h5>
                            <a onclick="morphic_window('morphic-window2');" class="btn btn-medium btn-rounded btn-red text-capitalize mt-3 mb-5 mb-md-0">View Detail</a>
                        </div>
                    </div>
                    <!--Item 3-->
                    <div class="team-box item">
                        <!--Product Image-->
                        <div class="team-image">
                            <img src="~/cars-automobile/images/product-img3.png" alt="image">
                        </div>
                        <!--Product Text-->
                        <div class="team-text">
                            <h5 class="main-font">Engine Suspension</h5>
                            <a onclick="morphic_window('morphic-window3');" class="btn btn-medium btn-rounded btn-red text-capitalize mt-3 mb-5 mb-md-0">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Owl Nav-->
            <a class='circle' id="team-circle-left"><i class="lni lni-chevron-left"></i></a>
            <a class='circle' id="team-circle-right"><i class="lni lni-chevron-right"></i></a>
        </div>
    </section>
    <!-- END PRODUCTS -->
    <!-- START COUNTER -->
    <section class="counter-bg">
        <div class="container position-relative">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="counter-content">
                        <span class="alt-font">Let us show you some stats</span>
                        <h3 class="my-3">Check our numbers <span class="d-block"> over the past few years.</span></h3>
                        <p class="alt-font">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected .</p>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row mt-5 mt-md-0">
                        <!-- Counter -->
                        <div class="col-12 col-md-4">
                            <div class="parallax-box">
                                <h2 class="count text-blue">456</h2>
                                <h5>Products Delivered</h5>
                            </div>
                        </div>
                        <!-- Counter -->
                        <div class="col-12 col-md-4">
                            <div class="parallax-box">
                                <h2 class="count text-red">599</h2>
                                <h5>Happy Customers</h5>
                            </div>
                        </div>
                        <!-- Counter -->
                        <div class="col-12 col-md-4">
                            <div class="parallax-box">
                                <h2 class="count text-blue">780</h2>
                                <h5>Hours Worked</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END COUNTER -->
    <!-- START TESTIMONIALS -->
    <section class="section slide4 reviews" id="reviews">
        <div class="container expand-container">
            <div class="row main-heading">
                <div class="col-12 main-heading text-center">
                    <h2 class="main-font">Best in Business<span class="d-block text-blue">Happy Customers</span></h2>
                </div>
            </div>

            <!-- Testimonial Slider -->
            <div id="testimonial-carousal" class="owl-carousel owl-theme testimonial-owl text-center row-padding">
                <!-- Item-1 -->
                <div class="item">
                    <div class="icon-quotes mb-4">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <div class="description">
                        <p class="text-white paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.</p>
                    </div>
                    <div class="testimonial-img mt-4">
                        <img src="~/cars-automobile/images/testimonial-1.png" alt="student img">
                    </div>
                    <div class="testimonial-tittle mt-3 mb-3">
                        <h3 class="mb-0 text-red alt-font">David Miller</h3>
                    </div>
                </div>
                <!-- Item-2 -->
                <div class="item">
                    <div class="icon-quotes mb-4">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <div class="description">
                        <p class="text-white paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="testimonial-img mt-4">
                        <img src="~/cars-automobile/images/testimonial-2.png" alt="student img">
                    </div>
                    <div class="testimonial-tittle mt-3 mb-3">
                        <h3 class="mb-0 text-blue alt-font">Alex Jackson</h3>
                    </div>
                </div>
                <!-- Item-3 -->
                <div class="item">
                    <div class="icon-quotes mb-4">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <div class="description">
                        <p class="text-white paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mauris arcu.</p>
                    </div>
                    <div class="testimonial-img mt-4">
                        <img src="~/cars-automobile/images/testimonial-3.png" alt="student img">
                    </div>
                    <div class="testimonial-tittle mt-3 mb-3">
                        <h3 class="mb-0 text-red alt-font">Mark Anthony</h3>
                    </div>
                </div>
                <!-- Item-4 -->
                <div class="item">
                    <div class="icon-quotes mb-4">
                        <i class="fas fa-quote-left"></i>
                    </div>
                    <div class="description">
                        <p class="text-white paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="testimonial-img mt-4">
                        <img src="~/cars-automobile/images/testimonial-4.png" alt="student img">
                    </div>
                    <div class="testimonial-tittle mt-3 mb-3">
                        <h3 class="mb-0 text-blue alt-font">Kelly Smith</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END TESTIMONIALS -->
